{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}

    <h1>{{ category.name }}</h1>
    {% for program in programs %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h2>{{ program.id }} {{ program.title }}</h2>
            <p>{{ program.synopsis }}</p>
        </div>
    </div>
    {% endfor %}
    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>


{% endblock %}